name: Test suite
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Install Hatch
        uses: pypa/hatch@install
      - name: Check Types
        run: hatch run types:all
      - name: Run Tests
        run: hatch test -a
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
